/* BottomSheet 容器 */
.report-popup {
  border-top-left-radius: calc(100vw * 40 / 375);
  border-top-right-radius: calc(100vw * 40 / 375);
  overflow: hidden;
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(48, 234, 255, 1) 100%);
}

/* 整体容器 */
.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(100vh * 26 / 812) calc(100vw * 28 / 375);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 选项区域 */
.report-options {
  width: 100%;
  padding: calc(100vh * 26 / 812) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(100vh * 16 / 812);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 按钮 */
.report-btn {
  width: 80%;
  height: calc(100vh * 46 / 812);
  border-radius: 999px;
  background: #fff;
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 18 / 375);
  color: rgba(36, 24, 24, 1);
}

/* 间距 */
.report-gap {
  height: calc(100vh * 22 / 812);
}

/* 取消按钮 */
.report-cancel {
  width: 60%;
  height: calc(100vh * 53 / 812);
  border-radius: 999px;
  background: rgba(0, 0, 0, 1);
  border: none;
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 20 / 375);
  color: white;
  margin: 0 auto;
  font-weight: 700;
  border: 2px solid rgba(165, 237, 57, 1);
}
