.chat-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-top-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 calc(100vw * 10 / 375);
}

.chat-left-part {
  display: flex;
  align-items: center;
  gap: calc(100vw * 15 / 375);
}

.chat-user-info {
  display: flex;
  align-items: center;
  gap: calc(100vw * 12 / 375);
  cursor: pointer;
}

.chat-avatar {
  width: calc(100vw * 38 / 375);
  height: calc(100vw * 38 / 375);
  border-radius: 50%;
  border: 1px solid rgba(25, 44, 65, 1);
  background: rgba(255, 255, 255, 0.16);
  background-size: cover;
  background-position: center;
}

.chat-username {
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 16 / 375);
  font-weight: 400;
  line-height: calc(100vw * 18.48 / 375);
  color: rgba(211, 238, 241, 1);
  -webkit-text-stroke: #000 2px;
  max-width: calc(100vw * 180 / 375);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-right-part {
  display: flex;
  align-items: center;

  gap: calc(100vw * 17 / 375);
}

.chat-icon-group {
  display: flex;
  gap: calc(100vw * 12 / 375);
}

.chat-icon-btn {
  width: calc(100vw * 24 / 375);
  height: calc(100vw * 24 / 375);
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-icon-btn img {
  width: 100%;
  height: 100%;
}

.chat-messages {
  border-radius: calc(100vw * 20 / 375) calc(100vw * 20 / 375) 0 0;
  overflow-y: auto;
  padding-top: calc(100vh * 24 / 812);
  padding-bottom: calc(100vh * 90 / 812);
  display: flex;
  flex: 1;
  margin-top: calc(env(safe-area-inset-top) + calc(100vh * 25 / 812) + calc(100vw * 40 / 375));
  flex-direction: column;
  gap: calc(100vh * 16 / 812);
  background: rgba(255, 255, 255, 1);
}

.chat-item {
  display: flex;
  align-items: flex-start;
  gap: calc(100vw * 10 / 375);
  margin: 0 calc(100vw * 118 / 375) 0 calc(100vw * 20 / 375);
}

.chat-item.own-message {
  flex-direction: row-reverse;
  margin: 0 calc(100vw * 20 / 375) 0 calc(100vw * 118 / 375);
}

.chat-msg-avatar {
  width: calc(100vw * 44 / 375);
  height: calc(100vw * 44 / 375);
  border-radius: 50%;
  padding: calc(100vw * 1 / 375);
  background: linear-gradient(
    135deg,
    rgba(255, 159, 142, 1) 0%,
    rgba(241, 213, 160, 1) 32.13%,
    rgba(201, 255, 221, 1) 67.84%,
    rgba(157, 255, 255, 1) 100%
  );
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.chat-right {
  display: flex;
  flex-direction: column;
  gap: calc(100vh * 8 / 812);
}

.chat-item.own-message .chat-right {
  align-items: flex-end;
}

.chat-message {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 12 / 375);
  font-weight: 400;
  line-height: calc(100vw * 17.41 / 375);
  color: rgba(105, 71, 65, 1);
  padding: calc(100vh * 10 / 812) calc(100vw * 10 / 375);
  border-radius: 0 calc(100vw * 10 / 375) calc(100vw * 10 / 375) calc(100vw * 10 / 375);
  background: rgba(201, 255, 221, 1);
}

.chat-item.own-message .chat-message {
  border-radius: calc(100vw * 10 / 375) 0 calc(100vw * 10 / 375) calc(100vw * 10 / 375);
  background: rgba(255, 138, 122, 1);
  color: rgba(255, 255, 255, 1);
}

.chat-time {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 12 / 375);
  color: rgba(153, 153, 153, 1);
}

.chat-message-image .image-container {
  border-radius: calc(100vw * 20 / 375);
  background: #fff;
  padding: calc(100vw * 5 / 375);
}

.chat-message-image img {
  width: 100%;
  height: auto;
  border-radius: calc(100vw * 16 / 375);
  object-fit: contain;
}

.chat-bottom-input {
  position: absolute;
  left: calc(100vw * 20 / 375);
  right: calc(100vw * 20 / 375);
  bottom: calc(100vh * 29 / 812);
  height: calc(100vh * 54 / 812);
  border-radius: calc(100vw * 40 / 375);
  background: rgba(169, 251, 194, 1);
  display: flex;
  align-items: center;
  padding: 0 calc(100vw * 16 / 375);
  gap: calc(100vw * 12 / 375);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.chat-bottom-input input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 14 / 375);
  color: #000;
}

.chat-send-btn {
  width: calc(100vw * 36 / 375);
  height: calc(100vw * 36 / 375);
  border: none;
  background: rgba(25, 44, 65, 1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-send-btn img {
  width: 77%;
  height: 77%;
}

.call-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100dvh;

  transform: translateY(100%);
  transition: transform 0.3s ease;

  z-index: 999;
}

/* 弹出 */
.call-wrapper.show {
  transform: translateY(0);
}
