.ppd-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(214, 223, 239, 1);
  overflow: hidden;
}

.ppd-page-content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.ppd-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  text-align: center;
  color: #fff;
}

.ppd-swipe-wrapper {
  position: relative;
  height: calc(100vh * 379 / 812);
  border-radius: 0 0 calc(100vw * 20 / 375) calc(100vw * 20 / 375);
  overflow: hidden;
}

.ppd-swipe-item {
  width: 100%;
  height: calc(100vh * 379 / 812);
  overflow: hidden;
}

.ppd-swipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ppd-swipe-empty {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.12);
}

.ppd-indicator-wrapper {
  position: absolute;
  bottom: calc(100vh * 17 / 812);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: calc(100vw * 4 / 375);
  z-index: 2;
}

.ppd-indicator {
  width: calc(100vw * 12 / 375);
  height: calc(100vh * 6 / 812);
  border-radius: calc(100vw * 45 / 375);
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

.ppd-indicator.active {
  width: calc(100vw * 32 / 375);
  background: #fff;
}

.ppd-post-content {
  padding: calc(100vh * 24 / 812) calc(100vw * 20 / 375) 0;
}

.ppd-post-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.ppd-post-content-row {
  display: flex;
  width: 100%;
}

.ppd-user-box {
  width: calc(100vw * 48 / 375);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(100vh * 2 / 812);
  margin-right: calc(100vw * 19 / 375);
}

.ppd-avatar {
  width: calc(100vw * 48 / 375);
  height: calc(100vw * 48 / 375);
  border-radius: 50%;
  padding: calc(100vw * 1 / 375);
  background: rgba(25, 44, 65, 1);
  box-sizing: border-box;
  cursor: pointer;
}

.ppd-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.16);
}

.ppd-user-name {
  width: calc(100vw * 46 / 375);
  height: calc(100vw * 19 / 375);
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 16 / 375);
  font-weight: 400;
  line-height: calc(100vw * 18.48 / 375);
  color: rgba(211, 238, 241, 1);
  -webkit-text-stroke: 2px black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ppd-second-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(100vh * 12 / 812);
}

.ppd-post-desc {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 14 / 375);
  color: rgba(51, 51, 51, 1);
  line-height: calc(100vw * 14.8 / 375);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-align: left;
}

.ppd-tag-box {
  display: inline-flex;
  height: calc(100vh * 25 / 812);
  border-radius: calc(100vw * 40 / 375);
  background: rgba(169, 251, 194, 1);
  justify-content: center;
  align-items: center;
}

.ppd-tag-text {
  font-size: calc(100vw * 12 / 375);
  color: rgba(25, 44, 65, 1);
  padding: 0 calc(100vw * 10 / 375);
  text-align: center;
}

.ppd-like-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(100vh * 2 / 812);
  margin-left: calc(100vw * 4 / 375);
  cursor: pointer;
}

.ppd-like-icon-img {
  width: calc(100vw * 36 / 375);
  height: calc(100vw * 36 / 375);
}

.ppd-like-count {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 14 / 375);
  color: rgba(25, 44, 65, 1);
  text-align: center;
}

/* .ppd-comments-line {
  border: 1px dashed rgba(102, 102, 102, 1);
  margin: 20px 20px;
} */

.ppd-comments-title-text {
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 20 / 375);
  font-weight: 700;
  line-height: calc(100vw * 25 / 375);
  color: rgba(211, 238, 241, 1);
  -webkit-text-stroke: #000 2px;
  /* padding: 8px 16px; */
  /* background: linear-gradient(90deg, rgba(165, 237, 57, 1) 0%, rgba(48, 234, 255, 1) 100%); */
  /* display: inline-block; */
  /* border-radius: 14px; */
  margin-left: calc(100vw * 20 / 375);
  margin-bottom: calc(100vh * 16 / 812);
  margin-top: calc(100vh * 30 / 812);
}

.ppd-comments-list {
  padding: 0 calc(100vw * 20 / 375) calc(100vh * 100 / 812);
  display: flex;
  flex-direction: column;
  gap: calc(100vh * 12 / 812);
}

.ppd-comment-item {
  display: flex;
  flex-direction: column;
  gap: calc(100vh * 4 / 812);
  padding: calc(100vh * 14 / 812) calc(100vw * 16 / 375);
  border-radius: calc(100vw * 20 / 375);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.ppd-comment-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ppd-comment-list-user {
  display: flex;
  gap: calc(100vw * 12 / 375);
  cursor: pointer;
}

.ppd-comment-avatar {
  width: calc(100vw * 32 / 375);
  height: calc(100vw * 32 / 375);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  border: 1px solid rgba(25, 44, 65, 1);
}

.ppd-comment-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.16);
}

.ppd-comment-user-name {
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 16 / 375);
  font-weight: 400;
  line-height: calc(100vw * 20 / 375);
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}

.ppd-comments-more {
  width: calc(100vw * 24 / 375);
  height: calc(100vw * 24 / 375);
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppd-comments-more img {
  width: 100%;
  height: 100%;
}

.ppd-comment-list-bottom {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 12 / 375);
  color: rgba(51, 51, 51, 1);
  text-align: left;
}

.ppd-input-box {
  position: fixed;
  left: calc(100vw * 20 / 375);
  right: calc(100vw * 20 / 375);
  bottom: calc(100vh * 29 / 812);
  height: calc(100vh * 54 / 812);
  background: rgba(169, 251, 194, 1);
  border-radius: calc(100vw * 40 / 375);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(100vw * 16 / 375);
  z-index: 20;
  box-sizing: border-box;
  gap: calc(100vw * 12 / 375);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.ppd-input-field {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 14 / 375);
  color: #000;
}

.ppd-input-field::placeholder {
  color: rgba(153, 153, 153, 1);
}

.ppd-send-btn {
  width: calc(100vw * 36 / 375);
  height: calc(100vw * 36 / 375);
  border: none;
  background: rgba(25, 44, 65, 1);
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppd-send-btn img {
  width: 77%;
  height: 77%;
}
