.coin-dialog {
  width: calc(100vw * 277 / 375);
  height: calc(100vh * 317 / 812);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coin-left-zs {
  position: absolute;
  top: calc(100vh * 64 / 812);
  left: calc(100vw * -20 / 375);
  width: calc(100vw * 89 / 375);
  height: calc(100vw * 89 / 375);
}
.coin-right-zs {
  position: absolute;
  bottom: calc(100vh * 27 / 812);
  right: calc(100vw * -61 / 375);
  width: calc(100vw * 134 / 375);
  height: calc(100vw * 134 / 375);
}
.coin-cry {
  width: calc(100vw * 100 / 375);
  height: calc(100vw * 100 / 375);
  margin-top: calc(100vh * 20 / 812);
  margin-bottom: calc(100vh * 6 / 812);
}
.coin-title {
  font-family: YesevaOne, sans-serif;
  font-size: calc(100vw * 24 / 375);
  line-height: calc(100vw * 30 / 375);
  color: rgba(0, 0, 0, 1);
}
.coin-desc {
  font-family: YesevaOne, sans-serif;
  font-size: calc(100vw * 16 / 375);
  line-height: calc(100vw * 30 / 375);
  color: rgba(51, 51, 51, 1);
  text-align: center;
}
/* 按钮 */
.coin-dialog-btn {
  margin-top: calc(100vh * 20 / 812);
  width: calc(100vw * 164 / 375);
  height: calc(100vh * 56 / 812);
  border-radius: calc(100vw * 40 / 375);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: YesevaOne, sans-serif;
  font-size: calc(100vw * 20 / 375);
  line-height: calc(100vw * 25 / 375);
  color: #fff;
  /* ✅ 核心：渐变圆角边框 */
  background: rgba(25, 44, 65, 1);
  cursor: pointer;
}
