.other-home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*
.other-home-avatar-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh * 348 / 812);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.14));
  background-size: cover;
  background-position: center;
  pointer-events: none;
}
*/
.other-home-scroll {
  position: relative;
  padding-top: calc(env(safe-area-inset-top) + calc(100vh * 38 / 812));
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.other-home-top {
  display: flex;
  justify-content: center;
}

.other-home-avatar {
  width: calc(100vw * 66 / 375);
  height: calc(100vw * 66 / 375);
  border-radius: 50%;
  border: 4px solid rgba(255, 138, 122, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.other-home-avatar::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: var(--avatar-url);
  background-size: cover;
  background-position: center;
}

.other-home-follow-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw * 14 / 375);
  height: calc(100vh * 14 / 812);
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: rgba(74, 32, 25, 1);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 1);
}

.other-home-follow-btn img {
  width: calc(100vw * 8 / 375);
  height: calc(100vw * 8 / 375);
}

.other-home-name {
  font-size: calc(100vw * 20 / 375);
  font-weight: 700;
  font-family: 'YesevaOne', sans-serif;
  color: rgba(211, 238, 241, 1);
  text-align: center;
  -webkit-text-stroke: rgba(25, 44, 65, 1) 2px;
  margin-top: calc(100vh * 10 / 812);
}

.other-home-stats {
  display: flex;
  justify-content: center;
  gap: calc(100vw * 60 / 375);
  margin-top: calc(100vh * 16 / 812);
}

.other-home-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(100vh * 9 / 812);
  width: calc(100vw * 62 / 375);
}

.other-home-stat .n {
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 20 / 375);
  color: rgba(25, 44, 65, 1);
  font-weight: 600;
}

.other-home-stat .l {
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 14 / 375);
  color: rgba(25, 44, 65, 1);
  font-weight: 600;
}

.other-home-intro-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(100vh * 16 / 812);
  padding: 0 calc(100vw * 20 / 375);
  box-sizing: border-box;
  gap: calc(100vw * 20 / 375);
}

.other-home-intro {
  flex: 1;
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 16 / 375);
  font-weight: 600;
  color: #fff;
  word-break: break-word;
}

.other-home-chat-btn {
  width: calc(100vw * 98 / 375);
  height: calc(100vh * 46 / 812);
  background: rgba(25, 44, 65, 1);
  border-radius: calc(100vw * 16 / 375);
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(100vw * 10 / 375);
  cursor: pointer;
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 20 / 375);
}

.other-home-chat-btn img {
  width: calc(100vw * 24 / 375);
  height: calc(100vw * 24 / 375);
}

.other-home-chat-text {
  color: white;
}

.other-home-chat-btn-hidden {
  width: calc(100vw * 98 / 375);
  height: calc(100vh * 46 / 812);
}
.other-home-post {
  flex: 1;
  background: white;
  border-radius: calc(100vw * 40 / 375) calc(100vw * 40 / 375) 0px 0px;
  margin-top: calc(100vh * 15 / 812);
}
.other-home-post-title {
  margin-top: calc(100vh * 20 / 812);
  margin-left: calc(100vw * 20 / 375);
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 27 / 375);
  font-weight: 700;
  line-height: calc(100vw * 33.75 / 375);
  color: rgba(211, 238, 241, 1);
  -webkit-text-stroke: rgba(25, 44, 65, 1) 2px;
  /* padding: 8px 16px; */
  /* background: linear-gradient(90deg, rgba(165, 237, 57, 1) 0%, rgba(48, 234, 255, 1) 100%); */
  display: inline-block;
  /* border-radius: 14px; */
  /* border: 1px solid rgba(48, 234, 255, 1); */
}

.other-home-post-list {
  display: flex;
  flex-direction: column;
  padding: calc(100vh * 16 / 812) calc(100vw * 20 / 375) calc(100vh * 34 / 812);
  gap: calc(100vh * 16 / 812);
  box-sizing: border-box;
}

.other-home-post-item {
  width: calc(100vw * 335 / 375);
  border-radius: calc(100vw * 20 / 375);
  background: rgba(214, 223, 239, 1);
  overflow: hidden;
  padding: calc(100vw * 12 / 375);
  box-sizing: border-box;
  cursor: pointer;
}

.other-home-post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(100vh * 10 / 812);
}

.other-home-post-username {
  font-family: 'YesevaOne', sans-serif;
  font-size: calc(100vw * 16 / 375);
  color: rgba(211, 238, 241, 1);
  font-weight: 700;
  -webkit-text-stroke: rgba(25, 44, 65, 1) 2px;
}

.other-home-post-report {
  border: none;
  background: transparent;
  border-radius: 10px;
  width: 34px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-home-post-report img {
  width: calc(100vw * 24 / 375);
  height: calc(100vw * 24 / 375);
}

.other-home-post-image {
  width: 100%;
  height: calc(100vw * 268 / 375);
  border-radius: calc(100vw * 14 / 375);
  background: rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.other-home-post-overlay {
  position: absolute;
  bottom: calc(100vh * 10 / 812);
  right: calc(100vw * 10 / 375);
  display: flex;
  flex-direction: column;
  gap: calc(100vh * 13 / 812);
  z-index: 4;
  font-size: calc(100vw * 16 / 375);
}

.other-home-overlay-pill {
  /* width: calc(100vw * 30 / 375);
  height: calc(100vh * 58 / 812);
  border-radius: calc(100vw * 12 / 375);
  background: rgba(0, 0, 0, 1); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid rgba(255, 255, 255, 1); */
  gap: calc(100vw * 2 / 375);
  color: rgba(25, 44, 65, 1);
  cursor: pointer;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
}

.other-home-overlay-icon {
  width: calc(100vw * 36 / 375);
  height: calc(100vw * 36 / 375);
}

.other-home-post-type {
  margin-top: calc(100vh * 10 / 812);
  font-family: 'Archivo', sans-serif;
  font-size: calc(100vw * 12 / 375);
  color: rgba(0, 0, 0, 1);
}
